@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5F2C82;
}

img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

main {
    background-color: white;
    margin: 75px 60px 60px 60px;
    border: 1px solid #5F2C82;
    border-radius: 10px;
}

section {
    padding: 0px 10px 40px 10px;
}

h2 {
    text-align: center;
}

input {
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
} 

.campo {
    background-color: #94CFCD;
    width: 67%;
    border: 3px solid #5F2C82;
    border-left: 50px solid #5F2C82;
}

.botoes {
    border: 1px solid #53AAA7 ;
}

#botaoentrar {
    background-color: #53AAA7;
    color: white;
}

#botaoesqueci {
    color: #2D6462;
    background: white;
}