@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blue;
}

#imagemlogin {
    background-color: white;
}

#login {
    background-color: white;
    padding: 10px;
    
}