@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom, #5F2C82, #4B989B);
    position: relative;

    margin: 0px;
    padding: 0px;
}

main {
    width: 950px;
    height: 350px;

    position: absolute;
    transform: translate(-50%, -50%);

    left: 50%;
    top: 43%;
}

img {
    display: inline-block;
    width: 50%;
    height: 100%;

    position: absolute;
    transform: translate(-50%, -50%);

    left: 75%;
    top: 50%;

    border-radius: 0px 8px 8px 0px;
}

section {
    display: inline-block;
    width: 49%;

    position: absolute;
    transform: translate(-50%, -50%);

    left: 25%;
    top: 50%;
}

.campo {
    background-color: #94CFCD;
    border: 3px solid #5F2C82;
    border-left: 50px solid #5F2C82;
    width: 392px;
}