@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: #5F2C82;
    width: 100vw;
    height: 100vh;
}

main {
    width: 250px;
    background-color: white;
    margin: auto;
    margin-top: 75px;
    border: 1px solid #5F2C82;
    border-radius: 10px;

    overflow: hidden;
}


#imagem {
    display: block;
    background: black url(../imagens/fundo-login.jpg) no-repeat;
    background-attachment: local;
    background-position: center top;
    background-size: cover;
    height: 200px;
}

section {
    display: block;
    padding: 0px 10px 10px 10px;
}

h2 {
    text-align: center;
}

p {
    font-size: 12px;
}

input {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
} 

.campo {
    background-color: #94CFCD;
    border: 3px solid #5F2C82;
    border-left: 50px solid #5F2C82;
    width: 157px;
}

.botoes {
    border: 1px solid #53AAA7;
    width: 100%;
}

#botaoentrar {
    background-color: #53AAA7;
    color: white;
}

#botaoesqueci {
    color: #2D6462;
    background: white;
}